@custom-media --small-viewport (max-width: 900px);
@custom-media --large-viewport (min-width: 900px);
:root {
  --site-border-size: 10px;
  --gutter: 95px;
  --mobile: 500;
  --tablet: 700;
  --maxWidth: 1600px;
  --text-underline-opacity: 0.5;
  --text-underline-color: currentColor;
  --text-underline-position: -0.18em;
  --text-underline-size: 0.04em;
  --text-underline-gap: 0.1em;
  --text-underline-gap-minimum: 1.5px;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow: #fff5ad;
  --color-gray: #f6f6f6;
  --color-med-gray: #656565;
  --color-dark-gray: #333333;
  --border-color: #b2b2b2;
  --blue: steelblue;
  --border-color: #bed0d0;
  --gray: lightgrey;
  --dark-gray: #333;
  --light-gray: #aaa;
  --default-font-color: rgba(0, 0, 0, 0.8);
  --highlight: #e7ff00;
  --home-padding: 35px;
}
