@import '../common/sizes';

.navigation {
  width: calc(100% - 20px);
  margin-left: 10px;
  padding-top: 100px;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 10;
  height: 100vh;
  overflow-x: auto;
  @media (--small-viewport) {
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.navigation-visible {
  display: block;
}

.categories {
  lost-center: var(--maxWidth) 0px flex;
  padding: 60px var(--gutter) 0px;
  width: 100%;
  margin: 0px auto;
  @media (--small-viewport) {
    padding: 60px 20px 0px;
  }
}