@import '../common/sizes';

.navigation {
  width: calc(100% - 20px);
  margin-left: 10px;
  padding-top: 100px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  height: 100vh;
  overflow-x: auto;

  @media (--small-viewport) {
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
