@import '../common/sizes';

.post {
  margin: 0 auto;
  max-width: 594px;
  padding-top: 100px;
  position: relative;

  @media (--small-viewport) {
    padding: 100px 15px 0;
  }
}

.title {
  font-family: adobe-garamond-pro, Garamond, Baskerville, 'Baskerville Old Face', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 125%;
  font-size: 42px;
  margin-bottom: 11px;
  letter-spacing: 1px;
  text-align: center;

  @media (--small-viewport) {
    font-size: 30px;
    margin-top: 4px;
  }
}

.title a {
  border-color: transparent;
}

.small-border {
  border-bottom: 2px solid #000;
  width: 32px;
  margin: 15px auto 35px;
}

.time {
  display: block;
  font-size: 20px;
  margin-bottom: 2px;
  text-align: center;
}

.body {
  margin: 0;
}
